<div class="container">

  <div class="assessment_list well row">
    <h2>Load Assessment By Url</h2>

    <%= form_tag(assessment_path('load'), method: :get, html: { :role => 'form' }) do -%>
      <div class="form-group">
        <%= label_tag "assessment", "Enter the web address of a QTI format assessment" %>
        <%= text_field_tag :src_url, nil, class: "form-control" %>
        <p class="help-block">(e.g. <%= "http://#{request.host_with_port}/assessment.xml" %>)</p>
      </div>
    <div class="form-group">
      <%= check_box_tag :confidence_levels, 'true', true %>
      <%= label_tag "confidence_levels", "Display confidence controls" %>
      </div>
      <%= submit_tag "View Assessment", :class => "btn" %>
    <% end -%>
  </div>

  <div class="assessment_list well row">
    <h2>Assessments</h2>
    <ul>
      <%= render :collection => @assessments, :partial => 'assessments/list_item', :as => :assessment %>
    </ul>
    <%= link_to "<i class='icon-plus'></i> Create an Assessment".html_safe, new_assessment_path, :class => 'nav_link'  %>
  </div>

</div>
