<% if @embed_code.present? -%>
  <div class="container">
    <h1><%= link_to 'Assessments', assessments_path %> &gt; <%= @assessment.present? ? @assessment.title : @eid || @src_url %></h1>
    <div class="assessment">
      <%= @embed_code.html_safe %>
    </div>
    <div class="assessment_meta">
      <div class="assessment_buttons">
        <p><span class="stats_word">stats</span><a href="<%= assessment_result_path(params[:assessment_id] || @assessment || 0, eid: params[:eid]) %>" class="btn btn-info stats_button" target="_top"><i class="glyphicon glyphicon-signal"></i></a></p>
        <p><span class="embed_word">embed</span><a href="#" class="btn btn-info embed_button">&lt/&gt</a></p>
      </div>
      <form class="embed_code">
        <div class="form-group">
          <%= label_tag "embed_text", "Embed Code:" %>
          <textarea class="embed_text" name="embed_text"> <%= @embed_code %></textarea>
        </div>
        <div class="form-group">
          <%= check_box_tag :confidence_levels, 'true', true %>
          <%= label_tag "confidence_levels", "Display confidence controls" %>
        </div>
        <div class="form-group">
          <%= check_box_tag :resize_script, 'true', true %>
          <%= label_tag "resize_script", "Include resize script" %>
        </div>
      </form>
    </div>
  </div>
<% else -%>
  <script>
    window.ENV = {"rootURL":"/assessments/load","FEATURES":{}};
  </script>
  <script id="srcData" type="text/x-data">
    <%= @src_data %>
  </script>

  <%= render(partial: 'assessments/edx_data', object: @edx_verticals) if @edx_verticals.present? -%>
  <%= render(partial: 'assessments/edx_data', object: @edx_problems) if @edx_problems.present? -%>

  <script type="text/javascript">
    window.OEA_SETTINGS = {
      srcUrl: '<%= @src_url %>',
      style: '<%= params[:style] %>',
      assessmentId: <%= @assessment_id %>,
      <% if @external_user_id %>
      externalUserId: <%= @external_user_id  %>,
      <% end %>
      <% if @keywords %>
      keywords: '<%= @keywords %>',
      <% end %>
      resultsEndPoint: '<%= @results_end_point || "http://#{request.host_with_port}/api" %>',
      confidenceLevels: <%= @confidence_levels %>,
      enableStart: <%= @enable_start %>,
      <% if @eid %>
      eId: '<%= @eid %>',
      <% end %>
      offline: <%= @src_data.present? %>
    };
  </script>
  <%= javascript_include_tag "oea/application" %>
<% end -%>

<%= javascript_include_tag "openassessments.js" %>