<% content_for :logo_overlay do -%>
  sign_in
<% end -%>

<div class="devise_form">
  <div class="login-screen">
    <div class="login-icon">
      <h4>Sign up for <small>Open Assessments</small></h4>
    </div>
    <div class="login-form">
      <%= devise_error_messages! %>
      <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => {:class => 'form-horizontal'}) do |f| %>
        <div class="form-group">
          <%= f.label :email, :class => "col-sm-4 control-label" %>
          <div class="col-sm-8">
            <%= f.email_field :email, :autofocus => true, :placeholder => 'Email address', :class => 'form-control', :type => "email" %>
          </div>
        </div>
        <div class="form-group">
          <%= f.label :password, :class => "col-sm-4 control-label" %>
          <div class="col-sm-8">
            <%= f.password_field :password, :placeholder => 'Password', :class => 'form-control' %>
          </div>
        </div>
        <div class="form-group">
          <%= f.label :password, :class => "col-sm-4 control-label" %>
          <div class="col-sm-8">
            <%= f.password_field :password_confirmation, :placeholder => 'Re-enter Password', :class => 'form-control' %>
          </div>
        </div>
        <%= f.submit "Sign up", :class=>'btn btn-large btn-primary' %>
      <% end %>
      <%= render "devise/shared/links" %>
    </div>
  </div>
</div>