<div class="devise_form">
  <div class="login-screen">
    <div class="login-icon">
      <h4><small>CONTACT US</small></h4>
    </div>
    <div class="login-form">
      <%= form_tag('/contact', :id => "contact_form", :class => "form-horizontal") do -%>
        <div class="control-group">
          <%= text_field_tag 'name', params[:name], :class => 'login-field', :placeholder => "Enter your name" %>
        </div>
        <div class="control-group">
          <%= text_field_tag 'email', params[:email], :class => 'login-field', :placeholder => "Enter your email" %>
        </div>
        <div class="control-group">
          <%= text_field_tag 'subject', params[:subject], :class => 'login-field', :placeholder => "Enter a subject" %>
        </div>
        <div class="control-group">
          <%= text_area_tag 'message', params[:message], :class => 'login-field', :placeholder => "Enter your message" %>
        </div>
        <input class="btn btn-large btn-primary" name="commit" type="submit" value="SEND">
      <% end %>
    </div>
  </div>
</div>