<div class="inner_question">
  {{#if material}}
    <div class="question_text">
      <div>{{{material}}}</div>
    </div>
  {{/if}}
  <div>
    {{#if isMultipleChoice}}
      {{oea-multiple-choice content=controller.answers value=selectedAnswerId itemController="answer"}}
    {{/if}}
    {{#if isDragAndDrop}}
      {{oea-drag-and-drop content=controller.answers itemController="answer"}}
    {{/if}}
    {{#if isEdXDragAndDrop}}
      {{#each answer in controller.answers itemController="answer"}}
        {{edx-drag-and-drop content=answer }}
      {{/each}}
    {{/if}}
    {{#if isEdXNumericalInput}}
      {{#each answer in controller.answers itemController="answer"}}
        {{edx-numeric-input content=answer }}
      {{/each}}
    {{/if}}
  </div>
</div>

<div class="check_answer_result">
  <p>{{result}}</p>
  {{#each feedback in choiceFeeback}}
    {{{feedback}}}
  {{/each}}
</div>
