<form {{action checkAnswer on="submit"}} class="edit_item">
  <div class="full_question">
    <div class="inner_question">
      <div class="question_text">
        <div>{{{material}}}</div>
      </div>
      <div>
        {{#if isMultipleChoice}}
          {{oea-multiple-choice content=controller.answers value=selectedAnswerId itemController="answer"}}
        {{/if}}
      </div>
    </div>
    {{#if promptConfidenceLevel}}
      <div class="confidence" >
          How confident are you in your response?
          {{oea-confidence-level content=controller.confidence_levels value=selectedConfidenceLevel itemController="answer"}}
      </div>
    {{/if}}
    <div class="check_answer_result">
      <p>{{result}}</p>
      {{#each feedback in choiceFeeback}}
        {{{feedback}}}
      {{/each}}
    </div>
    <div class="lower_level">
      {{input type="submit" value='Check Answer' class="btn btn-check-answer" }}
    </div>
  </div>
</form>
