<tr>
  <td>
    <%= summary[:identifier] %>
  </td>
  <td>
    <%= summary[:number_renders] %>
  </td>
  <td>
    <%= summary[:number_submitted] %>
  </td>
  <td>
    <%= signif(summary[:percent_correct], 2) %>%
  </td>
  <td>
    <%= summary[:number_referers] %>
  </td>
  <td>
    <%= summary[:number_of_users] %>
  </td>
  <td>
    <a href="<%= item_results_url(summary[:identifier], format: :csv, type: "summary") %>">
      <i class='glyphicon glyphicon-download'></i>
    </a>
  </td>
</tr>
