<tr>
  <td>
  <%= item.title %>
  </td>
  <td>
    <%= item.results_summary[:renders] %>
  </td>
  <td>
    <%= item.results_summary[:submitted].count %>
  </td>
  <td>
    <%= item.results_summary[:percent_correct] * 100 %>%
  </td>
  <td>
    <%= item.results_summary[:referers].count %>
  </td>
  <td>
    <%= item.results_summary[:users].count %>
  </td>
  <td>
    <a href="<%= item_results_url(item.id, :format => :csv, :type => "summary") %>"><i class='glyphicon glyphicon-download'></i></a>
  </td>
</tr>
