<div>
  <div>
    <span># Renders: <%= @renders %></span>
  </div>
  <div>
    <span># Submitted: <%= @submitted.count %></span>
  </div>
  <div>
    <span>% Correct: <%= @percent_correct * 100 %>%</span>
  </div>
  <div>
    <span># Of Referers: <%= @referers.count %></span>
  </div>
  <div>
    <span># Of Users: <%= @users.count %></span>
  </div>
</div>