<div class="question">
  <div class="header">
    <span class="counter">{{current}} of {{length}}</span>
    <p>{{item.title}}</p>
  </div>
  {{outlet}}
  <div class="nav_buttons">
    <button {{bind-attr class=":btn :btn-prev-item atBegin:disabled"}} {{action "previous"}}><i class="glyphicon glyphicon-chevron-left"></i> Previous</button>
    <button {{bind-attr class=":btn :btn-next-item atEnd:disabled"}} {{action "next"}}>Next <i class="glyphicon glyphicon-chevron-right"></i></button>
  </div>
</div>