<form {{action checkAnswer on="submit"}} class="edit_item">
  <div class="full_question">
    <div class="inner_question">
      <div class="question_text">
        <div>{{{material}}}</div>
      </div>
      <div>
        {{#if isMultipleChoice}}
          {{oea-multiple-choice content=controller.answers value=selectedAnswer itemController="answer"}}
        {{/if}}
      </div>
    </div>
    <div class="check_answer_result">
      {{checkAnswerResult}}
      {{#each feedback in answerFeedback}}
        {{{feedback}}}
      {{/each}}
    </div>
    <div class="lower_level">
      {{input type="submit" value='Check Answer' class="btn btn-check-answer" }}
    </div>
  </div>
</form>