<div class="panel panel-default">
  {{#if question}}
    <div class="panel-heading text-center">
      {{{question}}}
    </div>
  {{/if}}
  <div class="panel-body text-center">
    <div class="drop-container">
      {{#each image in images}}
        <img {{bind-attr src="image.src" alt="image.title" class="isDroppableImage:dropzone"}}>
      {{/each}}
      {{#each targets}}
        <div {{bind-attr class=":dropzone :dropmarker" style="style"}}></div>
      {{/each}}
    </div>
  </div>
  <div class="panel-footer text-center">
    {{#each draggables}}
      <div {{bind-attr id="id" class=":label :label-default :draggable"}}>
        <label>{{label}}</label>
      </div>
    {{/each}}
  </div>
</div>