<% content_for :logo_overlay do -%>
  sign_in
<% end -%>

<div class="devise_form">
  <div class="login-screen">
    <div class="login-icon">
      <%= image_tag 'quote_bubble.png' %>
      <h4>Welcome to <small>Open Assessments</small></h4>
    </div>
    <div class="login-form">
      <%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
        <div class="control-group">
          <%= f.email_field :email, :autofocus => true, :class => "login-field",  :placeholder => "Enter your email" %>
          <label class="login-field-icon fui-mail-24" for="user_email"></label>
        </div>
        <div class="control-group">
          <%= f.password_field :password, :class => "login-field",  :placeholder => "Password" %>
          <label class="login-field-icon fui-lock-24" for="user_password"></label>
        </div>
        <% if devise_mapping.rememberable? -%>
          <div class="control-group">
            <label class="checkbox">
              <%= f.check_box :remember_me, :as => :boolean %>
              <%= f.label :remember_me %>
            </label>
          </div>
        <% end -%>
        <%= f.submit "Sign in", :class => "btn btn-large btn-primary" %>
      <% end %>
      <%= render "devise/shared/links" %>
    </div>
  </div>
</div>