<form {{action check_answer on="submit"}} class="edit_item">
  <div class="full_question">
    <div class="inner_question">
      <div class="question_text">
        <div><p>{{{text}}}</p></div>
      </div>
      <div data-toggle="answers">
        {{#each controller.answers itemController="answer"}}
          <div class="btn btn-block btn-question">
            <label {{bindAttr class=":radio isSelected:checked"}}>
              <span class="icon"></span>
              <span class="icon-to-fade"></span>
              <div class="icon"></div>
              <div class="icon-to-fade"></div>
              {{input type="radio" name="radio" value=id action=select}}
              {{{text}}}
            </label>
          </div>
        {{/each}}
      </div>
    </div>
    <div class="check_answer_result"></div>
    <div class="lower_level">
      <button class="btn btn-check-answer disabled" type="submit">Check Answer</button>
    </div>
  </div>
</form>