<div class="question">
  <div class="header">
    <span class="counter">{{current}} of {{length}}</span>
    <p>{{item.title}}</p>
  </div>
  {{outlet}}
  <div class="nav_buttons">
    <span {{bindAttr class=":btn :btn-prev-item atBegin:disabled"}}><a {{action previous on="click"}}>Previous</a></span>
    <span {{bindAttr class=":btn :btn-next-item atEnd:disabled"}}><a {{action next on="click"}}>Next</a></span>
  </div>
</div>