<div class="question">
  <%= form_for item, :url => items_check_answer_path, :html => {:method => :post} do |f| %>
    <div class="header">
      <p><%= item.question_title %></p>
    </div>
    <div class="full_question">
      <div class="inner_question">
        <div class="question_text">
          <%= item.question_text %>
        </div>
        <div data-toggle="answers">
          <%= render partial: 'answer', collection: item.answers, locals: {f: f, item: item, selected_answer_id: @selected_answer_id} %>
        </div>
      </div>
      <div class="check_answer_result"></div>
      <div class="lower_level">
        <input type="hidden" id="item_id" name="item[id]" value="<%= item.id %>" />
        <input type="hidden" id="rendered_time" name="item[rendered_time]" value="<%= @rendered_time %>" />
        <input type="hidden" id="item_result_id" name="item[item_result_id]" value="<%= @item_result ? @item_result.id : nil %>" />
        <input type="hidden" id="referer" name="item[referer]" value="<%= @referer %>" />
        <span><%= f.submit 'Check Answer', :class => 'btn btn-check-answer disabled' %></span>

        <% if display_embed_code -%>
          <a href="#" class="btn btn-info embed_button">&lt/&gt</a><p class="embed_button embed_word">embed</p>
          <a href="<%= item_item_results_path(item.id) %>" class="btn btn-info stats_button">&nbsp<i class="icon-bar-chart"></i>&nbsp</a><p class="stats_button stats_word">stats</p>
        <% end -%>
      </div>
    </div>
  <% end -%>
  <% if display_embed_code -%>
    <div class="embed_code">
      <textarea class="embed_text" name="embed_text"> <%= CGI.unescapeHTML("<iframe src='//#{request.host_with_port}#{item_path(item.id)}' frameborder='0' width='300' height='300' ></iframe>") %></textarea>
    </div>
  <% end -%>
</div>


