<div class="question">
  <%= form_for item, :url => items_check_answer_path, :html => {:method => :post} do |f| %>
    <div class="header">
      <p><%= item.question_title %></p>
    </div>
    <div class="full_question">
      <div class="inner_question">
        <div class="question_text">
          <%= item.question_text %>
        </div>
        <div class="answers">
          <%= render partial: 'answer', collection: item.answers, locals: {f: f, item: item, selected_answer_id: @selected_answer_id} %>
        </div>
      </div>
      <input type="hidden" id="item_id" name="item[id]" value="<%= item.id %>" />
    <%= f.submit 'Check Answer', :class => 'btn btn-block btn-info' %>
    </div>
  <% end -%>
</div>
<% if display_embed_code -%>
<div class="embed_code">
  <%= CGI.unescapeHTML("<iframe src='#{request.protocol}#{request.host_with_port}#{item_path(item.id)}' frameborder='0' width='300' height='300' ></iframe>") %>
</div>
<% end -%>
