<div class="question">
  <%= form_for item, :url => items_check_answer_path, :html => {:method => :post} do |f| %>
    <div class="header">
      <% if display_nav -%>
        <span class="counter">
          <%= current_index.to_s + " of " + question_count.to_s %>
        </span>
      <% end -%>
      <p><%= item.title %></p>
    </div>
    <div class="full_question">
      <div class="inner_question">
        <div class="question_text">
          <%= item.question_text.html_safe %>
        </div>
        <div data-toggle="answers">
          <% if item.base_type == 'short_answer_question' -%>
            <%= render partial: 'items/short_answer', locals: {f: f, user_response: @user_response, item: item} %>
          <% else -%>
            <%= render partial: 'items/answer', collection: JSON.parse(item.answers), locals: {f: f, item: item, user_response: @user_response} %>
          <% end -%>
        </div>
      </div>
      <div class="check_answer_result"></div>
      <div class="lower_level">
        <input type="hidden" id="item_id" name="item[id]" value="<%= item.id %>" />
        <input type="hidden" id="rendered_time" name="item[rendered_time]" value="<%= @rendered_time %>" />
        <input type="hidden" id="assessment_result_id" name="item[assessment_result_id]" value="<%= @assessment_result ? @assessment_result.id : nil %>" />
        <input type="hidden" id="assessment_id" name="item[assessment_id]" value="<%= assessment ? assessment.id : nil %>" />
        <input type="hidden" id="item_result_id" name="item[item_result_id]" value="<%= @item_result ? @item_result.id : nil %>" />
        <input type="hidden" id="referer" name="item[referer]" value="<%= @referer %>" />
        <span style='float:left;'><%= f.submit 'Check Answer', :class => 'btn btn-check-answer disabled' %></span>

        <% if display_embed_code -%>
          <div class="right_buttons">
            <p><span class="stats_word">stats</span><a href="<%= results_assessment_section_item_path(params[:assessment_id], params[:section_id], item.id) %>" class="btn btn-info stats_button"><i class="icon-bar-chart"></i></a></p>
            <p><span class="embed_word">embed</span><a href="#" class="btn btn-info embed_button">&lt/&gt</a></p>
          </div>
        <% end -%>
        <% if display_nav -%>
          <div class="nav_buttons">
            <span class="btn btn-prev-item <%= prev_item.nil? ? 'disabled' : '' %>" data-item-id="<%= prev_item.nil? ? '' : prev_item.id %>"><%= prev_item.nil? ? "Previous" : link_to('Prev', assessment_path(assessment, :item => prev_item)) %></span>
            <span class="btn btn-next-item <%= next_item.nil? ? 'disabled' : '' %>" data-item-id="<%= next_item.nil? ? '' : next_item.id %>"><%= next_item.nil? ? "Next" : link_to('Next', assessment_path(assessment, :item => next_item)) %></span>
            <input id="assessment_id" type="hidden" value="<%= @assessment.id if next_item.nil? %>" /> <!-- TODO REMOVE THIS TEMP HACK -->
          </div>
        <% end -%>
      </div>
    </div>
  <% end -%>
  <% if display_embed_code -%>
    <div class="embed_code">
      <textarea class="embed_text" name="embed_text"> <%= CGI.unescapeHTML("<iframe src='//#{request.host_with_port}#{assessment_section_item_path(params[:assessment_id], params[:section_id], item.id)}' frameborder='0' width='300' height='400' ></iframe>") %></textarea>
    </div>
  <% end -%>
</div>


