<tr>
  <td>
    <%= link_to summary[:identifier],  item_results_url(identifier: summary[:identifier], type: 'summary') %>
  </td>
  <td>
    <%= summary[:number_renders] %>
  </td>
  <td>
    <%= summary[:number_submitted] %>
  </td>
  <td>
    <%= signif(summary[:percent_correct], 2) %>%
  </td>
  <td>
    <%= summary[:number_referers] %>
  </td>
  <td>
    <%= summary[:number_of_users] %>
  </td>
  <td>
    <a href="<%= item_results_url(identifier: summary[:identifier], format: 'csv') %>">
      <i class='glyphicon glyphicon-download'></i>
    </a>
  </td>
</tr>