<div class="container">
  <div class="row">

    <div class="col-sm-8 col-sm-offset-2">

      <h1 class="row">
        <% if current_user -%><%= link_to 'Assessments', user_assessments_path(current_user.id) %> &gt;<% end -%>
        <%= link_to @assessment.title, assessment_path(@assessment) %>  &gt; Results
      </h1>

      <div class="well row">
        <h2>Assessment Results<h2>
        <table class="table" id='assessment_results'>
          <tbody>
            <tr>
              <th>Number of Times Displayed</th>
              <td><%= @displayed %></td>
            </tr>
            <tr>
              <th>Number of Unique Users</th>
              <td><%= @unique_users_count %></td>
            </tr>
            <tr>
              <th>Number of Submissions</th>
              <td><%= @submissions_count %></td>
            </tr>
            <tr>
              <th>Average Score</th>
              <td><%= @percent_correct %>%</td>
            </tr>
            <tr>
              <th>Average Time Spent Completing Assessment</th>
              <td><%= distance_of_time_in_words @avg_time_to_complete %></td>
            </tr>
          </tbody>
        </table>
      </div>

      <div class="well row">
        <h2>Item Results<h2>
          <table class="table" id='item_results'>
            <thead>
            <tr>
              <th>
              Item
            </th>
              <th>
                # Renders
              </th>
              <th>
                # Submitted
              </th>
              <th>
                % Correct
              </th>
              <th>
                # Of Referers
              </th>
              <th>
                # Of Users
              </th>
              <th>
                CSV
              </th>
              </tr>
            </thead>
          <tbody>
        <%= render :collection => @assessment.items, :partial => 'item_results/summary', as: :item, locals:{ assessment: @assessment }  %>
          </tbody>
        </table>
      </div>

    </div>
  </div>

</div>
