<!DOCTYPE html>
<html>
<head>
  <%= render 'layouts/global/head' %>
  <%= stylesheet_link_tag "bare", media: "all" %>
</head>
<body>
  <%= render 'layouts/global/messages' %>
  <%= yield %>
  <%= javascript_include_tag "application" %>
  <%= javascript_include_tag "oea" %>
  <%= javascript_include_tag "templates/all" %>
</body>
</html>
