<!DOCTYPE html>
<html>
<head>
  <%= render 'layouts/global/head' %>
  <%= stylesheet_link_tag "bare", media: "all" %>
</head>
<body>
  <%= render 'layouts/global/messages' %>
  <%= yield %>
  <%= javascript_include_tag "application" %>
  <%= javascript_include_tag "oea" %>

  <script type="text/x-handlebars">
    <div>

      why won't {{outlet}}this work

    </div>
  </script>

  <script type="text/x-handlebars" id="assessments">
    <span>
      {{title}} in assessments
    </span>
  </script>

  <script type="text/x-handlebars" id="assessment">
    <span>
      show page
    </span>
  </script>
</body>
</html>
